.github/
*.png
*.ico
*.gif
*.svg
security.md
generator.js
src/
demo_assets/
index.html
browserconfig.xml
manifest.json
CNAME
Gruntfile.js
set-release.js
test/
package-lock.json

# plus all the maker stuff, which is not already ignored for Git

tzdata/
zoneinfo/
Makefile
*.c
*.h
*.sh
*.pl