.github/
*.png
*.ico
*.gif
*.svg
security.md
generator.js
src/
demo_assets/
index.html
browserconfig.xml
manifest.json
CNAME
Gruntfile.js
set-release.js
package-lock.json
sitemap.xml
.prettierignore
.prettierrc.json
.stylelintrc.json
.gitattributes
*.min.css
*.min.js
*.map

# plus all the maker stuff, which is not already ignored for Git

tzdata/
api/
Makefile
*.c
*.tab
*.h
*.sh
*.pl