@reference "./tailwind.config.css";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  body {
    @apply m-0 h-full w-full bg-gray-100 p-0 text-left font-sans text-base text-black dark:bg-gray-800 dark:text-white;
  }

  ::selection {
    @apply bg-primary text-white;
  }
  ::-moz-selection {
    @apply bg-primary text-white;
  }
}

@layer utilities {
  h1 {
    @apply font-headline text-5xl font-bold;
  }

  h2 {
    @apply text-xl font-bold opacity-75;
  }

  h3 {
    @apply mb-5 text-xl font-bold;
  }

  h4 {
    @apply mb-3 text-lg font-bold;
  }

  a,
  a:active,
  a:focus {
    @apply touch-manipulation font-sans font-semibold underline;
  }

  a:focus {
    @apply text-secondary outline-secondary no-underline;
  }

  a:hover {
    @apply text-secondary no-underline;
  }

  a.external-link:not(:has(> img:first-child))::after {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25'/%3E%3C/svg%3E");
  }

  a.external-link:not(:has(> img:first-child)):hover::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ffa701' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25'/%3E%3C/svg%3E");
  }

  p {
    @apply mb-3;
  }

  .expressive-code + p {
    @apply mt-6;
  }

  p + h4,
  .expressive-code + h4 {
    @apply mt-10;
  }

  .highlight {
    @apply mx-0.5 rounded bg-yellow-200 px-1 py-0.5 font-mono dark:bg-amber-800;
  }
}
