# Deep Directories
**/dist
**/smoke
**/node_modules
**/fixtures
**/fixture
**/vendor
**/.vercel
**/.vscode-test
**/public/api

# Directories
.github
.changeset

# Files
pnpm-lock.yaml
worker-configuration.d.ts
